@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-yell:#ffb300;
    --color-dark:#000000;
    --color-white:#fff;

}
.Services{
    background-color: #0000000a;
    padding-top: 100px;
    
}
.Services h1{
    width: 37%; 
    border-bottom: 2px solid var(--color-yell); 
    line-height: 0.1em;
    margin: auto;
    margin-bottom: 60px;
}
.Services h1 span{
    background:#f5f4f4; 
    padding:0 10px; 
}

.Services p{
    margin-bottom: 70px;
    font-family: none;
    font-weight: 800;
}

.services-block-three{
    margin-bottom: 30px;
}
.Services .card{
    height: 250px;
    width: auto;
    padding-top: 50px;
    box-shadow: #000000 1px 1px 10px;
    background:linear-gradient( rgba(0, 0, 0, 0.649) 100%, rgba(0, 0, 0, 0.5)100%),url(".././img/breadcrumbs-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.services-block-three>span{
    display: block;
    border: 2px solid #d5d5d5;
    border-radius: 4px;
    text-align: center;
    background: #fff;
    padding: 20px;
    position: relative;
    margin-bottom:30px;
}
.services-block-three>span:before {
    display: block;
    content: "";
    width: 9%;
    height: 17%;
    position: absolute;
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid var(--color-yell);
    border-right: 3px solid var(--color-yell);
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.services-block-three>span:after {
    display: block;
    content: "";
    width: 9%;
    height: 17%;
    position: absolute;
    top: -2px;
    left: -2px;
    border-top: 3px solid  var(--color-yell);
    border-left: 3px solid  var(--color-yell);
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}.padding-15px-bottom {
    padding-bottom: 20px;
}
.padding-15px-bottom span {
    font-size: 2.5em;
    color: var(--color-dark);
    color: #ffb300;

} 
.padding-15px-bottom i {
    font-size: 2.5em;
    color: var(--color-dark);
    color: #ffb300;

}

.services-block-three h4 {
    color: #ffffff;
    letter-spacing: 2px;
    font-size:1.3em;
    margin-bottom: 10px;
    font-weight: 600;
}
.services-block-three p {
    margin-bottom: 0;
    color: #b3b2b2;
    font-weight: 900;
}
.services-block-three>a:hover {
    opacity: 1;
    border-color: #d5d5d5;
}
a:hover, a:active {
    color: var(--color-yell);
    text-decoration: none;
}
.services-block-three>span:hover:before, .services-block-three>span:hover:after {
    width: 95%;
    height: 90%;
}