*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-yell:#ffb300;
    --color-dark:#000000;

}


.loader{
    color: #ffb300;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
}
.loader .HashLoader{
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
}
